services:
  app:
    image: infra-manager:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "1452:8080"
    environment:
      - GIN_MODE=release
    volumes:
      - /mnt/hdd0/infra-manager/data:/app/data
    restart: always
    networks:
      - infra-net

networks:
  infra-net:
    external: true
