{{ define "content" }}
<h1>Token 清單</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Token</th>
            <th>擁有者ID</th>
            <th>服務ID</th>
            <th>狀態</th>
        </tr>
    </thead>
    <tbody>
        {{ range .Tokens }}
        <tr>
            <td>{{ .ID }}</td>
            <td>{{ .Token }}</td>
            <td>{{ .OwnerID }}</td>
            <td>{{ .ServiceID }}</td>
            <td>{{ if .Disabled }}停用{{ else }}正常{{ end }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>
<button class="btn btn-primary">新增 Token</button>
{{ end }}